<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu pedido se ha hecho con éxito, <%= @user.name %></h1>
    <p>Esperamos que sigas haciendo más pedidos.</p>
  </body>
</html>
