
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Dealers, <%= @user.name %></h1>
    <p>
      Te has registrado con éxito a Dealers.com,
    </p>
    <p>
      Para completar el registro, sigue el siguiente enlace: <%= @url %>.
    </p>
    <p>Gracias por registrarte, que tengas un buen día!</p>
  </body>
</html>
